<html lang="en">
  <head>
      {{>head}}
    <title>Register</title>
  </head>
  <body>
     {{>navbar}}
    <h1>This is Login form</h1>
    <form action="/login" method="post">
    <div class="login-detail">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </div>
    </form>
  </body>
</html>